<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="InetBanking">
<listeners>

   <listener class-name="Com.InetBanking.Utilities.Reporting"/>

</listeners>

<test name="Banking App Test">

<parameter name="browser" value="chrome" />


<classes>

  <class name="Com.InetBanking.TestCases.TC_LoginTest_001"/>  
       <class name="Com.InetBanking.TestCases.TC_AddNewCust_002"/> 
  </classes>


</test>

</suite>